.card {
margin: 16px;
max-width: 600px;
width: 100%;
padding: 6px;
background: #FBEEC1;
color: black;
box-shadow: 1px 6px 3px black;
}

.specific {
display: flex;
justify-content: center;
align-items: center;
width: 50vh;
height: 50vh;
}

.create-select {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 90vh;
}



.body_sign {
 height: 300px;
 box-sizing: border-box;
 display: block;
 width: 100%;
}

.title_sign {
height: 100px;
}

.title_sign, .body_sign {
width: 100%;
border: 3px solid black;
resize: none;
background: white;
}

textarea {

}

.select {
margin: 16px;
max-width: 600px;
width: 100%;
height: 100%;
padding: 6px;
background: #FBEEC1;
color: black;
box-shadow: 1px 6px 3px black;
border-radius: 5px;
}

textarea:focus {
outline: none;
}


