<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>States</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/create.css">
</head>
<body>
<div class="header" id="stateHeader">
    <nav>
        <h2><a href="/">STATE SOCIAL</a></h2>
        <form th:action="@{/posts}" method="GET">
            <select class="form" id="test" th:field="*{state.stateId}"name="stateSelect">
                <option value="1">Select state</option>
                <option th:each="state: ${states}"
                        th:value="${state.stateId}"
                        th:text="${state.stateName}"></option>
            </select>
            <button type="submit">Submit</button>
        </form>
    </nav>
    <div th:if="${loggedIn}">
        <a th:href="@{/users/logout}" class="btn">logout</a>
    </div>
    <div th:unless="${loggedIn}">
        <a th:href="@{/login}" class="btn">login</a>
    </div>

</div>
<div class="content" id="pageContent">
    <div th:if="${notice}" class="flash-message">
        <h3>[[${notice}]]</h3>
    </div>

    <div  class="card" id="card">
    <form method="POST" th:action="@{/posts/api}" class="signup-form" >
            <div id="title">
                <textarea type="text" maxlength="255" placeholder="Please insert title of post here!" class="card-title title_sign" id="title_sign"
                          th:field="${post.postTitle}" name="postTitle"></textarea>
                <div>Characters left: <span id="title_num">255</span></div>
            </div>
            <div>
                <textarea maxlength="4000" class="card-text body_sign" id="body_sign" placeholder="please insert post here!"
                          th:field="${post.postBody}" name="postBody"></textarea>
                <div>Characters left: <span id="body_num">4000</span></div>
            </div>
            <div>
                <label for="state_sign"></label>
                <input type="hidden" id="state_sign" th:field="${state.stateId}" th:name="stateId"/>
            </div>
            <div>
                <input type="hidden" th:field="${user.visitorId}" readonly/>
                <button type="submit" class="btn">Post</button>
            </div>
    </form>
    </div>
</div>

</body>
<script src="/js/landing_page.js"></script>
<script src="/js/create_post.js"></script>
</html>