<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>States</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/main.css">
<!--    <link rel="stylesheet" href="../static/style/main.css">-->
</head>
<body>
<div class="header" id="stateHeader">
    <nav>
        <h2>HEAD</h2>
        <form th:action="@{/test}" method="GET">
            <select class="form" id="test" th:field="*{state.stateId}"name="stateSelect" onchange="test()">
                <option  value="">Select state</option>
                <option th:each="state: ${states}"
                    th:value="${state.stateId}"
                    th:text="${state.stateName}"></option>
            </select>
            <button type="submit">Submit</button>
        </form>
    </nav>
    <div th:if="${loggedIn}">
    <a class="" th:href="@{/users/logout}">logout</a>
</div>
    <div th:unless="${loggedIn}">
        <a th:href="@{/login}">login</a>
    </div>

</div>
<div class="content post-group" id="pageContent" th:if="${posts}" >
    <form method="POST" class="post" th:each="post: ${posts}" th:action="@{/posts/like}">
<!--    <div class="post">-->
        <div class="post_title" th:text="${post.postTitle}"></div>
        <div class="post_body" th:text="${post.postBody}"></div>
        <div class="post_user" th:text="${post.visitorName}"></div>
        <div>likes <span class="likes" th:text="${post.likeamnt}"></span></div>
        <div th:if="${loggedIn}">
            <input type="hidden" th:value="${post.postId}" class="postId" name="postId">
            <input type="hidden" th:field="${user.visitorId}" name="visitorId" class="visitorId">
            <input type="button" class="btn">smile</input>
        </div>
<!--    </div>-->
    </form>

</div>

</body>
<script src="/js/landing_page.js"></script>
<!--<script src="../static/js/landing_page.js"></script>-->
</html>